@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Navbar css */
.navbar{
  font-family: 'Poppins', serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0px 8px 6px -6px gray;
  border-bottom: solid gray !important;
}
.nav-link{
  font-weight: 300 !important;
}

.active{
  border-bottom: 1.5px solid black;
}

.navbar-brand{
  font-weight: 700;
  font-family: 'roboto',sans-serif;
  letter-spacing: 3px;
}

.footer{
  color: white;
  padding: 25px;
  margin-top: 0px;
  background: #000000;
  background: linear-gradient(to right, gray, black);
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 12px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid wheat;
}

.pnf{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  flex-direction: column;
}

/* Page not found */

.pnf-title{
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pnf-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.pnf-button{
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-link {
  text-decoration: none !important;
  color: black !important;
}

.product-card {
  border: none;
  border-radius: 0.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
